.adv-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  background-color: var(--Dark-Grayish-Blue);
  width: 600px;
  height: 250px;
  /* position: relative; */
}

.icondivide {
  width: 100%;
  padding: 20px 0;
  background-image: url("../images/pattern-divider-desktop.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.adv-container > :nth-child(1) {
  font-size: 14px;
  color: var(--Neon-Green);
  letter-spacing: 3px;
}

.adv-container > :nth-child(2) {
  font-size: 14px;
  color: var(--Light-Cyan);
  text-align: center;
  line-height: 25px;
  margin: 30px auto;
  max-width: 500px;
}

@media (max-width: 375px) {
  .adv-container {
    max-width: 300px;
  }
  .icondivide {
    background-image: url("../images/pattern-divider-mobile.svg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .adv-container > :nth-child(2) {
    font-size: 10px;
  }
}
